In [1]:
#import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [3]:
train_df = pd.read_csv('Titanic Data/train.csv')

In [4]:
test_df = pd.read_csv('Titanic Data/test.csv')

In [5]:
train_df.drop("Name", axis =1, inplace=True)
train_df.drop("Cabin", axis =1, inplace=True)
train_df.drop("Fare", axis =1, inplace=True)
train_df.drop("PassengerId", axis =1, inplace=True)
train_df.drop("Ticket", axis =1, inplace=True)


test_df.drop("Ticket", axis =1, inplace=True)
test_df.drop("PassengerId", axis =1, inplace=True)
test_df.drop("Name", axis =1, inplace=True)
test_df.drop("Cabin", axis =1, inplace=True)
test_df.drop("Fare", axis =1, inplace=True)

In [6]:
train_df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C
2         1       3  female  26.0      0      0        S
3         1       1  female  35.0      1      0        S
4         0       3    male  35.0      0      0        S

In [7]:
test_df.head()

   Pclass     Sex   Age  SibSp  Parch Embarked
0       3    male  34.5      0      0        Q
1       3  female  47.0      1      0        S
2       2    male  62.0      0      0        Q
3       3    male  27.0      0      0        S
4       3  female  22.0      1      1        S

In [8]:
source = train_df.drop('Survived', axis=1)
target = train_df['Survived']

source.shape, target.shape

((891, 6), (891,))

In [9]:
source.head()

   Pclass     Sex   Age  SibSp  Parch Embarked
0       3    male  22.0      1      0        S
1       1  female  38.0      1      0        C
2       3  female  26.0      0      0        S
3       1  female  35.0      1      0        S
4       3    male  35.0      0      0        S

In [10]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [11]:
df_cat = source.drop(['Age', 'Parch', 'SibSp', 'Pclass'], axis =1)

cat_attribs = list(df_cat)
cat_attribs

['Sex', 'Embarked']

In [12]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer



cat_pipeline = Pipeline([
    ('imputer_cat', SimpleImputer(strategy="most_frequent")),
    ('encoder', OneHotEncoder(handle_unknown='ignore')),
])

full_pipeline = ColumnTransformer([
    ("cat", cat_pipeline, cat_attribs),
])

source_final = full_pipeline.fit_transform(source)

In [13]:
source_final.shape

(891, 5)

In [14]:
target1 = target.to_numpy()

In [15]:
target.shape

(891,)

In [16]:
target = target1.reshape(1,-1)

In [17]:
target = target.transpose()
target.shape

(891, 1)

In [18]:
#test_final = full_pipeline.transform(test_df)

In [19]:
from sklearn.model_selection import train_test_split
source_train, source_test, target_train, target_test = train_test_split(source_final, target, test_size = 0.25, random_state=0)

In [20]:
target_test.shape

(223, 1)

Linear Models

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn.metrics import accuracy_score

In [25]:
LR = LogisticRegression()

In [26]:
LR.fit(source_train, target_train)

D:\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [29]:
LR.score(source_test, LRpred)

1.0

In [28]:
LRpred = LR.predict(source_test)

In [30]:
LRpred

array([0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1], dtype=int64)